    body{
            color: white;
            font-family: "a포스터M", sans-serif;
            font-style: italic;
    }
#a{ color:red; }
#b{ color:rgb(30, 255, 0); }
#ga{ background-color:sandybrown; }